div#mainApp{
  header.title{
    margin: 0;
    padding: 3% 0 6%;
    width: 100%;
    display: block;
    text-align: center; 
    h1{
      width: 450px;
      color: lighten($bg, 50%);
      background-color: darken($blue, 1%);
      margin: auto;
      padding: .4em;
      border: 1px solid darken($blue, 3%);
      border-radius: 5px;
    }
    @media (max-width: $break-small) {
      padding: 0 0 10%;
      h1{
        border-radius: 0px;
        width: 100%;
        font-size: 2.3em;
      }
    }
  }
}