$circle-size: 260px;
$little-circle-size : 145px;

form.questions{
  text-align: center;
  div.circle-item{
    display: inline-table;
    vertical-align: middle;
    text-align: center;
    background-color: $blue;
    width: $circle-size;
    height: $circle-size;
    border-radius: $circle-size /2;
    margin: $circle-size/20;
    @media (max-width: $break-small) {
      width: $little-circle-size;
      height: $little-circle-size;
      border-radius: $little-circle-size /2;
      margin: $little-circle-size/25 ;
    }
    &:hover{
      background-color: $blue;
    }
    .circle{
      display: table-cell;
      vertical-align: middle;
      p{
        font-size: 2em;
        padding: 0 1em;
        @media (max-width: $break-small) {
          font-size: 1.2em;
        }
        span{
          cursor: pointer;
        }
      }
      >h3{
        margin-top: 0;
        margin-bottom: $circle-size/10;
        text-transform: uppercase;
        font-size: 1.3em;
        padding: 0 .9em;
        @media (max-width: $break-small) {
          margin-bottom: $little-circle-size/10;
          font-size: .9em;
        }
      }
      >.form-group{
        width: 7em;
        margin: auto;
        input{
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}

div#mainApp{
  span.drunk{
    color: $green;
  }
  div.circle-item{
    border: 2px solid $green;
  }
  &.okayish{
    span.drunk{
      color: $orange;
    }
    div.circle-item{
      border: 2px solid $orange;
    }
  }
  &.forbidden{
    span.drunk{
      color: $red;
    }
    div.circle-item{
      border: 2px solid $red;
    }
  }
}