$green: #36E2BE;
$orange: #FFAC79;
$red: #FD6E6E;
$bg: #52596B;


html, body{
  display: block;
  margin: 0;
  padding: 0;
  background-color: $bg;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

div#mainApp{
  header.title{
    margin: 0;
    padding: 3% 0;
    width: 100%;
    display: block;
    text-align: center; 
    h1{
      width: 400px;
      color: lighten($bg, 20%);
      background-color: darken(#494F60, 1%);
      margin: auto;
      padding: .4em;
      border: 1px solid darken(#494F60, 3%);
      border-radius: 5px;
      cursor: pointer;
    }
  }

  form.questions, div.result{
    width: 80%;
    margin: auto;
  }
}

.clearfix {
    float: none;
    clear: both;
    border-width: 0;
}

@import "questions";