$green: #36E2BE;
$orange: #FFAC79;
$red: #FD6E6E;
$bg: #52596B;
$blue:#494F60;
$break-small: 670px;


html, body{
  display: block;
  margin: 0;
  padding: 0;
  background-color: $bg;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 60px;
}


@import "header";
@import "questions";
@import "result";